body{
	background: url(../img/paris-francia.jpg) top no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#contenedor{
	background-color: rgba(70,180,158,0.50);
	width: 100%;
	height: 100%;
}
nav{
	background-color: #e67e22;
	height: 150px;
}
#imagen-perfil{
	max-width: 250px;
	border-radius: 5px;
}

