body{
	background: url(../img/paris-francia.jpg) top no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.contenedor{
	background-color: rgba(70,180,158,0.50);
	background-size: 100% 100%;
	background-attachment: fixed;
}
nav{
	height: 150px;
}
#imagen-perfil{
	margin-top: 10px;
	margin-left: 90px;
	width: 60%;
	border-radius: 5px;
}
.enlaces{
	margin-left:2px;
	display: inline;
	padding: 5px;
	border-radius: 2px;
}
.iconos{
	color: white;
}

.iconos img{
	width: 70%;
	margin-top: 10px;
	border-radius: 5px;
}

#Galeria{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

.imagen{
	width: 25%;	
}

h4, span{
	color: white;
}
#Nombre{
	color: white;
}
.boton{
	color: #3498db;
	background: white;
	margin: 10px;
}

@media (max-width: 480px){
	#imagen-perfil{
		width: 100%;
		padding-left: 5px;
	}
}