body{
	background: url(../img/paris-francia.jpg) top no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#contenedor{
	background-color: rgba(70,180,158,0.50);
	background-size: 100% 100%;
	background-attachment: fixed;
}

#imagen-perfil{
	max-width: 250px;
	border-radius: 5px;
}

.iconos img{
	width: 70%;
	margin-top: 10px;
	border-radius: 5px;
}

#Galeria{
	width: 100%;
	height: auto;
	margin-top: 10px;
}

