.contenedor{
	background: url(../img/restaurante-lujo.jpg) top no-repeat;
	background-size: 100%,100%;
}

/*Encabezado*/
#fondo-secundario{	
	background-color: rgba(133,146,158,0.75);
	width: 1000px;
}
.buscador{
	margin: 10px;
	width: 100%;
}

.menu-adicional li{
	border: 1px solid pink;
}
.menu-adicional a{
	color: pink;
}
.contenedor-postres{
	margin: 10px;
}
figure{
	border: 3px solid #fff;
}
#titulo-inicial{
	border-right: 1.5px solid #fff;
	border-bottom: 1.5px solid #fff;
}
#encabezado-vacio{
	border-bottom: 1.5px solid #fff;
}