.contenedor{
	background: url(../img/restaurante-lujo.jpg) top no-repeat;
	background-attachment: fixed; 
	background-size: 100%,100%;
}

/*Encabezado*/
#fondo-secundario{	
	background-color: rgba(40,116,166,0.65);
	width: 1000px;
}
.buscador{
	margin: 10px;
}

#seccion-1{
	background-color: rgba(69,179,157,0.60);
	padding: 5px;
	margin-top: 10px;
}
#seccion-2{
	background-color: rgba(69,179,157,0.80);
	padding: 5px;
	margin-top: 10px;
}

.menu-adicional li{
	border: 1px solid #fff;
}
.menu-adicional a{
	color: #fff;
}
.menu li:hover, .menu a:hover{
	background-color: rgba(208,211,212,0.50);
	color: #fff;
}
.Comentarios li{
	padding-top: 10px;
	padding-bottom: 10px;
}
.Comentarios li:hover{
	background-color: rgba(208,211,212,0.50);
}
.contenedor-postres{
	margin: 10px;
}

#icono{
	width: 10%;
}

figure{
	border: 3px solid #fff;
}
.historial-entrada{
	list-style: none;
}
.historial-entrada a{
	color: #fff;
}
.historial-entrada li{
	margin-top: 10px;
}
.historial-entrada li:hover{
	background-color: rgba(93,109,126,0.50);
}
.historial-entrada a:hover{
	color: #fff;
	height: 20px;
}

#Favoritos, #Historial{
	padding-top: 5px;
	color: #fff;
}
