/*Encabezado*/
.img_logo{
	width: 20%;
	height: 0 auto;
}

/*Barra de Navegacion*/
nav > div[class^='col']{
	max-height: 50px;
	padding: 10px;
	text-align: center;
	background-color:  #d68910;
}

.enlaces > a{
	font-size: 1.2em;
	color: black;
}
.enlaces a:link, .enlaces a:visited{
	text-decoration: none;
}
.enlaces a:hover, .enlace a:active{
	background: white;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
}

/*Seccion 1*/
.contenedor{
	margin-top: 10px;
}

.Color-fondo{
	background-color: hsl( 192, 5%, 82% );
}
.img_paisaje{
	padding-top: 10px;
	padding-bottom: 10px;
}
.area-texto{
	padding: 10px;
}
#iconos{
	float: right;
	margin-top: 50px;
}
.buscador{
	background-color: rgb(234,237,237);
}